PORT=3001
MONGODB_URI=mongodb://<db_username>:<db_password>@ac-uwmodsp-shard-00-00.0h5q8d2.mongodb.net:27017,ac-uwmodsp-shard-00-01.0h5q8d2.mongodb.net:27017,ac-uwmodsp-shard-00-02.0h5q8d2.mongodb.net:27017/?ssl=true&replicaSet=atlas-6sexbr-shard-0&authSource=admin&appName=Cluster0
JWT_SECRET=replace_this_with_a_long_random_secret_at_least_64_chars
JWT_EXPIRES_IN=7d
CLIENT_ORIGIN=http://localhost:5173

# Xirsys WebRTC ICE server config (TURN/STUN)
XIRSYS_IDENT=your_xirsys_username
XIRSYS_SECRET=your_xirsys_secret_token
XIRSYS_CHANNEL=your_xirsys_channel_name
